.primeProduct-card-container {
    width: 100%;
    height: fit-content;
    margin-left: -23px;
    list-style-type: none;
    padding: 5px;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0.5px;    
  }
  .primeProduct-card-image {
    width: 100%;
    border-radius: 7px;
  }
  .primeProduct-card-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 5px;
  }
  .primeProduct-card-heading {
    font-size: 22px;
    color: #171f46;
  }
  .primeProduct-card-description {
    color: #594d6d;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    letter-spacing: 1px;
  }
  .primeProduct-card-price-and-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
  }
  .primeProduct-card-price {
    color: #171f46;
    font-size: 20px;
    font-weight: bold;
  }
  .primeProduct-card-rating-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;    
      background-color: #3b82f6;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      text-align: center;
  }
  .primeProduct-card-rating {
    color: #fff;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .star {
    width: 15px;
    margin: 2px 0px 0px 5px;
  }
  .link{
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .primeProduct-card-container {
      width: 50%;
      line-height: 1;
    }
    .primeProduct-card-heading {
      font-size: 30px;
      height: 40px;
    }
    .primeProduct-card-description {
      font-size: 22px;
      letter-spacing: 1.5px;
      font-weight: 400;
      margin-top: 22px;
    }
    .primeProduct-card-price {
      font-size: 25px;
      font-weight: bold;
    }
    .primeProduct-card-rating-container {
      height: 35px;
      padding: 0px 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    .primeProduct-card-rating {
      color: #fff;
      border: none;
      border-radius: 3px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .star {
      width: 23px;
      margin: 2px 0px 0px 5px;
    }
  }
  
  @media (min-width: 992px) {
    .primeProduct-card-container {
      margin-left: 0px;
      width:32%;
      line-height: 1;
    }
    .primeProduct-card-heading {
      font-size: 23px;
    }
    .primeProduct-card-description {
      font-size: 23px;
      font-weight: 400;
      letter-spacing:1px;
      margin-top: 22px;
    }
    .primeProduct-card-price {
      font-size: 22px;
      font-weight: bold;
    }
    .primeProduct-card-rating-container {
      height: 40px;
      padding: 0px 10px;
      margin-bottom: 10px;
    }
    .primeProduct-card-rating {
      color: #fff;
      border: none;
      border-radius: 3px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }
    .star {
      width: 27px;
      margin: 2px 0px 0px 5px;
    }
  }
  